<nav class="m-nav">
  <div class="m-nav__container">
    <div>
      <a class="nav_click" href="#home">about</a>
      <a class="nav_click" href="#bespoke">Bespoke</a>
      <a class="nav_click" href="#products">Products</a>
      <a class="nav_click" href="#location">Contact</a>
    </div>
    <div>
      <img src="images/eyesite_logo.png">
    </div>
    <div>
      <a href="https://www.facebook.com/pages/EYEsite/221706271272691" target="_blank"><img src="images/fb_logo.png"></a>
      <a href="https://instagram.com/eyesite_philadelphia" target="_blank"><img src="images/instagram_logo.png"></a>
      <a href="mailto:info@eyesite-phila.com"><img src="images/mail_icon.png"></a>
    </div>
  </div>
  <div id="mob_nav">=</div>
  <div class="nav_top">EyeSite</div>
</nav>